@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

/* CENTRO DE AYUDA - FAQ */
.centro-ayuda{
    text-align: center;
    background-color: $body-bg;
    display: flex;
    flex-direction: column;
    .faq{
        background-color: $sections-bg;
        padding: 1rem;
        border-radius: $radio-borde;
    }
    h2{
        padding: 2rem;
    }
    h3{
        margin-bottom: .5rem;
        text-align: left;
    }
    p{
        text-align: left;
    }
}
