@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;


@media (max-width: 1024px) {

    /* H1 y párrafos del main */
    main{

        h1{
            font-size: 2.3rem;
            margin-top: 3rem;
        }
        p{
            font-size: 1rem;
            margin: 1rem 2rem;
        }
        .carrusel{/* Carrusel */
            padding: 2rem;
        }
        .imagen{
            img{ /* Imágenes */
                width: 260px;
            }
        }
    }
    /* Banner (titulo_pagina) */
    .titulo_pagina {
        height: 180px;
        padding: 0 1.5rem;
        .contenido{
            margin-left: 2rem;
        }
    }
    /* Mapa */
    .mapa {
        width: 80%;
        margin: 2rem auto;
    }
    /* Footer */
    .footer-container {
        gap: 1.5rem;
        justify-content: center;
    }
    .footer-columna {
    width: 45%;
    text-align: center;
    }
    .beneficios-contenedor {
    grid-template-columns: repeat(2, 1fr);
    }
}